---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/Hero";
import FeaturedCourses from "@/components/FeaturedCourses";
import StudentFeedback from "@/components/StudentFeedback";
import { useApi } from "@/lib/api"
import type { Course } from "@/types/courses";

const api = useApi(Astro.cookies);

type Response = {
  courses: Course[];
};

const response = await api.get<Response>("/courses");
const courses = response.data.courses;
console.log(courses);
---

<Layout title="Welcome to Go Courses">
  <main class="flex-1">
    <HeroSection client:load/>
    <FeaturedCourses courses={courses} />
    <StudentFeedback />
  </main>
</Layout>