---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/Hero";
import FeaturedCourses from "@/components/FeaturedCourses";
import StudentFeedback from "@/components/StudentFeedback";
import type { Course } from "@/types/courses";

const response = await fetch(import.meta.env.PUBLIC_API_URL + "/rated/courses");
const data = await response.json();
const courses: Course[] = data.courses;


---

<Layout title="Welcome to Go Courses">
  <main class="flex-1">
    <HeroSection />
    <FeaturedCourses client:load courses={courses} />
    <StudentFeedback />
  </main>
</Layout>